
<div class="container-fluid pdt-disp">
    
    <div class="row">
        <div class="col" (click)="onGetProductDummy('1')">
          <img src="../../assets/images/{{img_link[0]}}" class="img-dimention" >
          <p>
                <h1>Name</h1>
                <h4> Discription</h4>
        
          
        </div>
        <div class="col" (click)="onGetProductDummy('2')">
            <img src="../../assets/images/{{img_link[1]}}" class="img-dimention">
            <p>
                <h1>Name</h1>
                <h4> Discription</h4>
            
            
          </div>
          <div class="col" (click)="onGetProductDummy('3')">
            <img src="../../assets/images/{{img_link[2]}}" class="img-dimention">
            <p>
                <h1>Name</h1>
                <h4> Discription</h4>
            
        </div>
      </div>

      <div class="row">
        <div class="col" (click)="onGetProductDummy('4')">
          <img src="../../assets/images/{{img_link[3]}}" class="img-dimention">
          <p>
                <h1>Name</h1>
                <h4> Discription</h4>
        
          
        </div>
        <div class="col" (click)="onGetProductDummy('5')">
            <img src="../../assets/images/{{img_link[4]}}" class="img-dimention" >
            <p>
                <h1>Name</h1>
                <h4> Discription</h4>
            
            
          </div>
          <div class="col" (click)="onGetProductDummy('6')">
            <img src="../../assets/images/{{img_link[5]}}" class="img-dimention">
            <p>
                <h1>Name</h1>
                <h4> Discription</h4>
            
        </div>
      </div>
</div>
