<!-- <div class="container-fluid">

    <div class="my-img">

        <img src="../../assets/img1.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
    </div>
</div>> -->


<div>  
    
  </div>  
  <br>
  <br>
 
  <hr style="background-color:black" />  
  <div class="row">  
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">  
      <div ngxSlickItem *ngFor="let image of images" class="slide">  
        <img src="{{ image.img }}" width="100%" >  
      </div>  
    </ngx-slick-carousel>  
    
  </div> 